node_modules/
frontend/node_modules/
server/node_modules/
.env


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Ignore virtual environments
venv/
kairo/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore dependencies
*.egg-info/
*.egg/
dist/
build/
pip-wheel-metadata/

# Ignore package manager directories
node_modules/
kairo/lib/
